body{
    font-family: 'Otomanopee One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.justify{
    text-align: justify;
}

.center{
    text-align: center;
}
.coral-color{
    color:coral;
}

.pumpkin-color{
    color: #e74c3c;
}

.bluebell-color{
    color: #341f97;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-page{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
   
}

.half-page img{
    width: 80%;
}

.click-button{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: coral;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 30px;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-bigger{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.skills{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.skills-item{
    text-align: justify;
    width: 80%;
    height: 300px;
    margin: 0 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #3f3e3e;
}

#front-end-dev{
    border-left: 10px solid;
    border-image: linear-gradient(#240b92, rgb(17, 207, 221));
    border-image-slice: 1;
}

#back-end-dev{
    border-left: 10px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}